@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
    --color-dark-bg: #1a1a1a;
    --color-dark-surface: #242424;
    --color-dark-border: #333333;
}

body {
    @apply bg-white dark:bg-[#1a1a1a] text-gray-900 dark:text-white;
}